@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Righteous');

#labelCadastro {
    font-family: 'Righteous', cursive !important;
}

.popup{
     display: none;
  }