@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

header {
    padding: 154px 0 100px;
    background-image: url(../img/capa.jpg);
    background-size: cover;
    background-position-y: -5rem;
    background-blend-mode: multiply;
    background-attachment: fixed;

}

#logo {
    font-size:35px; 
    font-family: 'Fredoka One', cursive;
    color:#cccccc; 
    text-shadow: 0px 4px #666666; 
}

section {
    padding: 150px 0;
}