@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Righteous');

.login-panel {
  margin-top: 25%;
}

.popup{
     display: none;
  }